* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

body {
    margin: 0 auto;
    max-width: 55%;
    height: 100vh;
    display: flex;
    align-items: center;
    line-height: 20px;
}

a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
  }

container {
    flex-direction: column;
}

p {
    margin: 10px 0px;
}

button {
    font-family: 'Inconsolata', monospace;
    font-size: .9em;
    padding: 5px 10px;
    margin-top: 10px;
    text-align: left;
}

input {
    margin-top: 10px;
    height: 20px;
}

/* li {
    margin-bottom: 10px;
} */

#playerInfo {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 2%;
    width: 100%;
    margin: 15px 0px;
}

ul > li {
    list-style-type: none;
    display: inline;
}

